# Default ignored files
/../../../../../../../../../:PycharmProjects/pythonProject1/.idea/shelf/
/../../../../../../../../../:PycharmProjects/pythonProject1/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:PycharmProjects\pythonProject1\.idea/dataSources/
/../../../../../../../../../:PycharmProjects/pythonProject1/.idea/dataSources.local.xml
# Editor-based HTTP Client requests
/../../../../../../../../../:PycharmProjects/pythonProject1/.idea/httpRequests/
